
html, body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #EFEBE9;
}
.main{
    height: 100%;
    background-color: white;
    min-width: 55rem;
}
.footer{
}

.calendar{

    background-color: white;
    box-shadow: 0.5rem 3rem rbga(0,0,0,4);
    min-width: 55rem;
}
.calendar-main{
    background-color:  white;
    padding-bottom: 5rem;

}

.weekdays{
}

.weekdays div{
    font-size: 1.1rem;
    width: calc(100%/31);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
    border-left:0.1rem solid rgb(34, 3, 3);
    /* background-color: #FF6600; */
}


.days{
}

.days div{
    border-left:0.1rem solid rgb(34, 3, 3) ;
    font-size: 1.0rem;
    width: calc(100%/31);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
    /* background-color: rgb(234, 239, 128); */
}

.fieldDays {
    
}

.fieldDays div{
    border-left:0.1rem solid black;
    font-size: 1.4rem;
    width: calc(100%/31);
    height: 3rem;
    display: flex;
    border-top:0.1rem solid black;
}

.saturdayOrSunday{
    background-color: pink ;
}

.holidays{
    font-size: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/6.5);
    text-shadow: 0 0.3rem 0.5rem rgba(128, 123, 123, 0.2);
    
}
.h-days{
    font-size: 1rem;
    height: 3rem;
    text-align: center;
    align-items: center;
    width: calc(100%/3);
    border-left: 1px solid black;
    text-shadow: 0 0.3rem 0.5rem rgba(128, 123, 123, 0.2);
    
}
.hol{
    border-top:1px solid black;
    background-color: white;
    font-size: 1rem;
    /* background-color: #CCCCFF; */
}
.prev ,.next{
    font-size: 2rem;
}
.prev:hover{
    color: white;
}
.next:hover{
    color: white;
}
.choiceDay{
    background: red !important;
    text-align: center;
}
.freeDay{
    background:rgb(89, 19, 155) ;
}
.free-days-worker{
    color: white;
    height: 3rem;
}
.fieldsWorker{
    background: light;
}
.header div{
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 600;
   
}
.month{
    /* background-color: #ffe600; */
}
.month-days-header{
    /* background-color: #FF9900; */
    border-top:0.1rem solid black;
}

.list-employees{
    height: 3rem;
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}
.list-employees div{
    text-align: center;
    align-items: center;
}
.my-btn{
    background: indigo;
}
.data{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mr-auto  .pl-2 .name-and-last-name{
    border-right:1px solid black;
}
.name-and-last-name a {
    text-decoration: none;
    color: black;
    padding-left: 2px;
}
​.name-and-last-name a:visited, .name-and-last-name a:link, .name-and-last-name a:hover
{
    text-decoration: none;
}
.pula{
    border-right: 0.001rem solid black;
    border-left: 0.001rem solid black;
    text-align: center;
}
.diffrence_days{
    border-right: 0.001rem solid black;
    text-align: center;
}
.days-left{
    text-align: center;
}
.employee-calendar-field div{
    min-height: 5rem;
}

.colors{
    height: 2rem;
    width: 2rem;
    padding-bottom: 2px;
}
.red {
    background-color: red;
}
.dark {
    background-color: rgb(66, 65, 65);
}
.purple {
    background-color: indigo;
}
.pink {
    background-color: pink;
}
