body{
    font-family: 'Roboto', sans-serif;
}
.container{
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 0.8rem;
    color:rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header{
    margin-bottom: 30px;
}
.header div{
   float: left;
   width: 50%;
   font-style: italic;
   margin-bottom: 10px;
}

.company div, .employee div , .employer div, .date{
    text-align: right;
    font-style: italic;
}
.agree div, .application p{
    text-align: center;
    font-size: 1rem;
    color:black;
}
.agree, .application{
    margin-top: 70px;
    margin-bottom: 70px;
}
.nameAndDate div{
    width: 50%;
    float: left;
    color: black;
    font-size: 0.9rem;
}
.name{
    text-align: left;
}
.nameCompany, .fieldDate{
    text-align: right;
    color: black;
    font-size: 0.9rem;
}
